<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Nearly 5,000 ATMs and 4,000 Branches Nationwide</h2>
    
   <p class="last">You read it correctly. We are part of two nationwide networks that give our members access to their accounts no matter where they may go. One Vision Federal Credit Union has nearly 5,000 surcharge free ATMs and 4,000 branches available nationwide! </p>
   
   <p class="heading">Alliance One Network</p>
   <%= image_tag "allianceone.jpg", :alt=>"", :class=>"fleft photo" %>
   <p class="last">In order to better serve our valued members and give them nationwide access to their money on deposit at One Vision Federal Credit Union, we are part of the Alliance One ATM Network.  As a part of this network, our members have access to Alliance One ATMs surcharge free across the United States. To locate an Alliance One ATM, please visit the website <%= link_to "www.atmallianceone.org", "http://www.atmallianceone.org", :rel=>"confirm external" %>. Once there, simply enter the Zip Code or City where you want to find an ATM.
 Locally, our members can also use the ATM machines at Fifth Third Banks and Your Community Banks without a surcharge fee.</p>
   
   <p class="heading">Shared Branch Network</p>
   <%= image_tag "cusc.jpg", :alt=>"", :class=>"fleft photo" %>
   
   <p class="last">Another way that we have given our members more access to their accounts at One Vision Federal Credit Union is through the Credit Union Service Center Shared Branch Network. As a part of this network, One Vision members can access their accounts at over 4,000 branches nationwide just as if they were visiting a One Vision FCU branch. It is easy and convenient! As our member, all you will need is your 5 digit account number, your driver’s license, and the last four digits of your social security number. At a shared branch, members can make deposits of checks or cash, withdrawals, or loan payments just as if you were at one of our branches. The Shared Branch Network makes One Vision FCU available to you nationwide. Just look for the swirl to find a Credit Union Service Center Shared Branch near you. You may also visit <%= link_to "www.cuservicecenter.com", "http://www.cuservicecenter.com", :rel=>"confirm external" %> or call 1-800-919-CUSC(2872) to locate a Shared Branch.</p>
   
   <p class="heading">One Vision - Experience the Difference</p>
   
   <p>With One Vision Federal Credit Union's nationwide accessibility, there is no reason not to make us your primary financial institution and experience the Credit Union difference. We offer all the financial products you will need including Checking Accounts, Debit Cards, Direct Deposit, Online Banking and Bill Pay, VISA Credit Cards, Loan Products, and much more!! All these come with unmatched member service.  We can serve you no matter where life’s journey takes you, so if availability and convenience were holding you back from enjoying the benefits at One Vision FCU, those barriers are now lifted.  Come on in today and join the many members that have made One Vision Federal Credit Union their primary financial institution. It’s Where You Belong! </p>
    
  </div>
    <div id="inner_right">
		<%= render :partial => 'layouts/quickrates' %>
    </div>
</div>
