<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Life Events</h2>
    		<p>Throughout your life there will be many important hurdles. One Vision Federal Credit Union is here to help you clear all those hurdles. The following are some of life’s biggest hurdles. We hope this advice will help to ease the stress that these major life events can cause. At One Vision Federal Credit Union, our goal is to make your life easier. </p>
            
            <ul class="links">
            <li><%= link_to "Buying A Car", lifeevents_car_path %></li>
            <li><%= link_to "College Life", lifeevents_college_path %></li>
            <li><%= link_to "Getting Married", lifeevents_marriage_path %></li>
            <li><%= link_to "Buying a Home", lifeevents_house_path %></li>
            <li><%= link_to "Having a Baby", lifeevents_baby_path %></li>
            <li><%= link_to "Unexpected Events", lifeevents_unexpected_path %></li>
            <li><%= link_to "Retirement", lifeevents_retirement_path %></li>
            </ul>   
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>


</div>
