<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Links</h2>
    <p>Here are some links we have put together that you may find helpful.</p>
    <%= image_tag "links.jpg", :class=>"fright photo", :alt=>"" %>
    
    <ul class="links">
    	<li><%= link_to "Alliance One", "http://www.atmallianceone.org/", :rel=>"confirm external" %></li>
        <li><%= link_to "Shared Branch Network", "http://www.creditunion.net/", :rel=>"confirm external" %></li>
        <li><%= link_to "Harland Clarke Check Order", "https://www.clarkeamerican.com/caccp/login/where_to_find_this.jsp?exp=P", :rel=>"confirm external" %></li>
        <li><%= link_to "Mastercard Secure Code", "https://securevbv.concordefs.com/concord/registration/welcome.jsp?partner=641781", :rel=>"confirm external" %></li>
        <li><%= link_to "Kirby Kangaroo", "http://www.kirbykangaroo.com/index.php?cuid=27701182", :rel=>"confirm external" %></li>
        <li><%= link_to "CU Succeed", "http://www.cusucceed.net/index.php?cuid=27701182", :rel=>"confirm external" %></li>
    </ul>
  </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
