<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Loan Products</h2>
   <p class="last">One Vision Federal Credit Union offers a variety of loan products to meet all our member’s needs. Whether you are purchasing a new or used car, home, or for any other need, we are the place to come for your financing. All of our loans are simple interest and there are never any prepayment penalties on loans with One Vision Federal Credit Union.</p>
   
   <p class="heading"><a name="auto"></a>Automobile, Truck, Van, and SUV Loans</p>
   <p class="last">Whether you are purchasing a car, truck, van, or SUV, One Vision Federal Credit Union is the place to get your loan. Our rates are low and our process is quick and easy. Our loan officers make these loans with your best interest in mind. We know purchasing a car is a big decision and we help you through the process like you are part of our family. We can put you behind that vehicle of your dreams with our low rates and variety of terms. You can check out the value of your vehicle at <%= link_to "www.nadaguides.com", "http://www.nadaguides.com", :rel=>"confirm external" %> to prepare yourself to shop. Once you found one you like, simply give one of our loan officers a call and they can get you rolling in no time.</p>
   
   <a name="boat"></a><p class="heading">Boat, Motorcycle, RV Loans</p>
   <%= image_tag "RV-Boat-loans.jpg", :class=>"fright photo3", :alt=>"" %>
   <p class="last">Do you dream of another mode of transportation to enjoy some fun with friends and family? If so, we can help you realize those dreams. We have loans for boats, motorcycles, and RVs so don't put your dream off any longer. Come see one of our loan officers to see how we can make your dream a reality!</p>
   
    <a name="signature"></a><p class="heading">Signature Loans and Revolving Credit Loans</p>
    <%= image_tag "other-loans.jpg", :class=>"fleft photo3", :alt=>"" %>
    <p class="last">For those purchases you don't want on your credit card or for those of you who don't like using credit cards then One Vision Federal Credit Union's Signature Loans or Revolving Credit Loans are for you. The only collateral you need is your signature. Our loan department can give you more information on either of these loans.</p>
    
    <a name="visa"></a><p class="heading">VISA&reg; Credit Cards</p>
    <%= image_tag "credit-cards.jpg", :class=>"fright photo3", :alt=>"" %>
    <p>One Vision Federal Credit Union's VISA&reg; Credit Card is such a good deal, every credit card holder should have one. Our low non-variable rates and no annual fee makes this card a great addition to your wallet. We can help you steer clear of the ridiculous rates and fees other credit card providers charge. We even do balance transfers. Your online purchases can be more secure with VISA&reg; Secure card verification.  Ask about our VISA&reg; Credit Card today!</p>
    <p class="last"><%= link_to "Visa Credit Card Disclosure", "pdf/VISA Classic Disclosure_August  2008.pdf", :rel=>"external", :class=>"pdf" %></p>
    
    <a name="mortgages"></a><p class="heading">First Mortgages</p>
    <%= image_tag "Mortgages.jpg", :class=>"fleft photo3", :alt=>"" %>
    <p>We offer first mortgages to finance the purchase of the home of your dreams. Our experienced loan officers can help you through this huge step in life and make it as easy as possible for you. With terms up to 30 years, our first mortgage will provide you with the convenience of financing locally. If you have questions regarding your mortgage at any time, we can answer them for you right here. If you are thinking about purchasing or refinancing a home, stop in today and speak with a loan officer about our mortgage options.</p>
    <p class="last"><%= link_to "&raquo; Check Out Our New Mortgage Center!", "http://www.mycumortgagehomeloans.com/default.asp?siteId=67AA1C19-D850-4986-898D-777DD315B995", :rel=>"confirm external" %></p>
    <a name="heloc"></a><p class="heading">Home Equity Loans (Second Mortgage &amp; HELOC)</p>
    <p class="last">Is your home in need of some TLC? If you have a home improvement project in mind, let One Vision Federal Credit Union help you use the equity you already have in your home to make the project a reality. You can use our Home Equity Loans for vehicle purchases or vacations as well. You can choose to either obtain a Fixed Rate Second Mortgage or a Variable Rate Home Equity Line of Credit. Stop in today to see how a One Vision Federal Credit Union Home Equity Loan can improve your life.</p>
    
    <a name="gap"></a><p class="heading">GAP Insurance</p>
    <%= image_tag "GAP-insurance.jpg", :class=>"fright photo3", :alt=>"" %>
    <p class="last">Guaranteed Asset Protection Insurance or GAP Insurance is a wonderful product offered along with an auto loan. GAP is especially great for new car purchases. For $250 at the time of the loan, you can obtain a GAP policy for your new car. If your car is to be totaled or stolen, GAP insurance will cover the amount of your loan that the insurance check does not cover. For example, if you owe $20,000 on your car but it is only worth $15,000 at the time of the accident, GAP will cover the additional $5,000 of your loan that insurance will not. GAP will also cover your deductable and give you $1,000 towards the purchase of a new car as long as you finance through One Vision FCU. Ask a loan officer about adding GAP to your auto loan today.</p>
    
    <a name="lpi"></a><p class="heading">Loan Protection Insurance</p>
    <p class="last">Both credit life and credit disability insurance is offered on all our loans, except mortgage loans. Why worry that you won't be able to meet all your financial responsibilities in case you are sick or injured? With our low cost credit disability it will pay on your credit union loans while you are off from work. Our credit life insurance will make life easier for your loved ones in the event of your death. Don't leave them behind with your bills. Sign up for credit life on all your credit union loans.</p>
    
    <p class="heading"><a name="route66"></a>Route 66 Extended Warranty</p>
    <p>
        We want to help you be protected against mechanical breakdown of your
            vehicle. Vehicle problems can cost a fortune to get fixed. However,
            with our Route 66 Extended Warranty, you can have peace of mind that
            you are covered if anything were to happen to your vehicle. Whether
            you have an auto loan with us or not, your automobile can be eligible
            for an extended warranty. This warranty is far more coverage than
            you will receive with a manufacturer warranty. Protect yourself and
            your automobile with a Route 66 extended warranty. Ask for more details
            and <strong><%= link_to "Click HERE", "http://onevisionfcu.q2solutions.com", :rel=>"external" %></strong> to learn more.</p>            
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
