<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Other Products &amp; Services</h2>
   <p class="last">One Vision Federal Credit Union has a number of additional services to make your life easier and more convenient. That is what we strive to do here at One Vision, make life easier for our members and owners. The following services are designed to give you a variety of financial options as well as some bonus services to make life better for you.</p>
   
   <p class="heading"><a name="phone"></a>phONE Vision (Audio Response System)</p>
   <p class="last">With our phONE Vision, you can access your account 24 hours a day, 7 days a week from any touchtone phone. You are able to make balance inquiries, transfer money from one account to another, make loan payments, make loan advances, request a check to be mailed to you, and check on your account history all with the touch of a button. This is a free service to you just for being a member. Apply for this service at one of our branch locations then call (812) 945-2331 to check out phONE Vision today!</p>
   
    <p class="heading"><a name="online"></a>ONlinE Vision (Online Banking)</p>
    <%= image_tag "Online-Banking.jpg", :class=>"fleft photo3", :alt=>"" %>
    <p>ONlinE Vision is our exciting home banking system. With your phONE Vision (Audio Response System) Personal Identification Number (PIN) you can see your accounts, view transactions, and even transfer funds - all at the touch of your fingertips. You can make transfers between your accounts, loan payments, account inquiries, view transaction history, verify of cleared checks, and request withdrawals (a check is mailed to you) any time you want. There is no fee for using the basic functions of ONlinE Vision. ONlinE Vision allows you to scan your transaction activity! For your protection, we use the best available technology in security, firewalls and encryption. For your convenience, ONlinE Vision allows downloading to either Quicken or Microsoft Money. Visit ONlinE Vision today!</p>
    <p class="last"><%= link_to "&raquo; Go To ONlinE Vision Now!", root_path %></p>
    
    <p class="heading"><a name="epay"></a>ePay With Vision (Online Bill Pay)</p>
    <%= image_tag "online-bill-pay.jpg", :class=>"fright photo3", :alt=>"" %>
    <p>Tired of spending your valuable time sitting down and writing checks each month to pay your bills? With ePay With Vision, we can save you time and money by allowing you to pay bills online. Set up your monthly bills in the system and with just a click the bills will be paid for you. All you need is a checking (share draft) account with One Vision Federal Credit Union to take advantage of this wonderful FREE and convenient service. You can access ePay With Vision through ONlinE Vision. Get started today!</p>
    <p class="last"><%= link_to "&raquo; ePay Demo", "https://www.billpaysite.com/DEMOV2/Subscriber/Home.aspx?InstID=38807&amp;dualauth=1&amp;fromlogin=1", :rel=>"confirm external" %></p>
    
    <p class="heading"><a name="epayplus"></a>ePay With Vision Plus</p>
    <p>For $5.00 per month, you can enjoy a version of ePay With Vision that has even more convenient features. Extra features include the ability to send money to anyone in the US with an e-mail address and bank account, ability to move money from your One Vision account to any other financial institution, bill payment reminder e-mails, and much more. Check out ePay With Vision Plus today!</p>
    <p class="last"><%= link_to "&raquo; ePay Demo", "https://www.billpaysite.com/DEMOV2/Subscriber/Home.aspx?InstID=38807&amp;dualauth=1&amp;fromlogin=1", :rel=>"confirm external" %></p>    
    
    
    <p class="heading"><a name="mastermoney"></a>MasterMoney&trade; Debit Card</p>
    <%= image_tag "Debit-cards.jpg", :class=>"fleft photo3", :alt=>"" %>
    <p class="last">Your MasterMoney&trade; Debit Card can be used for purchases anywhere you see the MasterCard&reg; logo. The sale amount is automatically deducted from your share draft (checking) account. The details of all transactions are listed on your monthly share draft statement. While you are at the store, you no longer have to write a check or wait for check approvals. You also can use your card as an ATM card to obtain cash 24 hours a day. </p>
    
    <p class="heading"><a name="allianceone"></a>Alliance One Network</p>
    <p class="last">We are proud to be a part of the Alliance One Network. This network allows our members access to thousands of surcharge free ATMs nationwide. This gives our members access to their money when they are out of town either on business or vacation. To find out the locations of Alliance One ATMs simply visit their website at <%= link_to "www.atmallianceone.org", "http://www.atmallianceone.org", :rel=>"external" %> or look for the Alliance One Logo on ATM machines.</p>
    
    <p class="heading"><a name="shared"></a>Shared Branching Network</p>
    <p class="last">We are also a part of the Shared Branching Network of credit unions. As a part of this network, our members are able to access their accounts at any other credit union that is in the network. They simply look for the Credit Union Center logo and can access their account at that location and perform transactions just as they would if they visited any of our own branches. This is extremely convenient for emergency situations when you are out of town or if you are going to be out of town for an extended period of time either working or attending college. Find out the locations of Shared Branches nationwide by going to <%= link_to "www.cuservicecenter.com", "http://www.cuservicecenter.com", :rel=>"external" %> today.</p>
    
    <p class="heading"><a name="moneyorders"></a>Money Orders</p>
    <%= image_tag "money-order.jpg", :class=>"fright photo3", :alt=>"" %>
    <p class="last">Money Orders are safe, economical, negotiable instruments, offering general acceptance, and are available in any amount. They have wide recognition and acceptance for payment as an alternative for cash payments. They can be traced if lost, but payment cannot be stopped. Money orders are low in cost and a safe means to remit payment.</p>
    
    <p class="heading"><a name="cashierschecks"></a>Cashiers' Checks</p>
    <p class="last">Cashier's Check services are available to guarantee funds to a third party. See a Member Service Representative for assistance.</p>
    
    <p class="heading"><a name="wiretransfers"></a>Wire Transfers</p>
    <%= image_tag "wire-transfer.jpg", :class=>"fleft photo3", :alt=>"" %>
    <p class="last">Money may be transferred electronically, to any financial institution through the use of this service. Requests can be made by phone, fax, or in person. Funds are withdrawn from a member's account and are electronically transferred and processed immediately.</p>
    
    <p class="heading"><a name="directdeposit"></a>Direct Deposit</p>
    <%= image_tag "direct-deposit.jpg", :class=>"fright photo3", :alt=>"" %>
    <p class="last">Direct Deposit is designed for those members who enjoy the convenience of having their entire paycheck, social security, retirement or other recurring checks (that may be electronically transferred) deposited directly into their account. This gives increased confidentiality as fewer individuals see/handle your check. No time is lost between receiving the check and physically making a deposit.</p>
    
    <p class="heading"><a name="nightdrop"></a>Night Drop</p>
    <p class="last">The Night Drop allows members to make deposits without coming into the Credit Union. Deposits made through the Night Drop during non-business hours will be posted the next business morning. The Night Drop is secured and the area is well lit.</p>
    
    <p class="heading"><a name="notary"></a>Notary Services</p>
    <%= image_tag "notary.jpg", :class=>"fleft photo3", :alt=>"" %>
    <p class="last">A Notary Public is an official state licensed witness to a signature. We have several Notary Publics on staff. The member must sign the document in the presence of the Notary and have signed picture identification with them.</p>
    
    <p class="heading"><a name="amusement"></a>Discounted Tickets to Amusement Parks</p>
     <%= image_tag "amusement-park-tickets.jpg", :class=>"fright photo3", :alt=>"" %><p>As a member of One Vision Federal Credit Union, you are offered discounted tickets to the following amusement parks in the region. </p>
   <ul>
    	<li>Kentucky Kingdom</li>
        <li>Kings Island</li>
        <li>Holiday World</li>
        <li>Indiana Beach</li>
        <li>Newport Aquarium</li>
        <li>Louisville Zoo</li>
        <li>Cincinnati Zoo</li>
        <li>Indianapolis Zoo</li>
    </ul>
    <p class="last">
    See a Member Service Representative for details and pricing information and let us save you a bit of money on your day of fun. Subject to availability.
    </p>
    
    <p class="heading"><a name="coin"></a>Coin Machine</p><%= image_tag "coin-machine.jpg", :class=>"fright photo3", :alt=>"" %>
    <p class="last">Is that spare change jar overflowing? Don’t bother rolling all of it. Just bring it by one of our two locations and let us run it through our coin machine for you. You can then take the spare change as cash or deposit it directly to your account.</p>
    
    <p class="heading"><a name="visa"></a>VISA&reg; Gift Cards</p>
    <p class="last">Do you have family or friends who are just difficult to buy gifts for? A VISA&reg; Gift Card is the perfect gift for anyone. These cards can be purchased in any dollar increment between $10 and $500. They can be used anywhere VISA&reg; is accepted. Instead of buying a gift card they can only use at one particular store, get them one they can use anywhere.</p>
    <p class="heading"><a name="route66"></a>Route 66 Extended Warranty</p>
    <p>
        We want to help you be protected against mechanical breakdown of your
            vehicle. Vehicle problems can cost a fortune to get fixed. However,
            with our Route 66 Extended Warranty, you can have peace of mind that
            you are covered if anything were to happen to your vehicle. Whether
            you have an auto loan with us or not, your automobile can be eligible
            for an extended warranty. This warranty is far more coverage than
            you will receive with a manufacturer warranty. Protect yourself and
            your automobile with a Route 66 extended warranty. Ask for more details
            and <strong><%= link_to "Click HERE", "http://onevisionfcu.q2solutions.com", :rel=>"external" %></strong> to learn more.</p>
<p class="last">&nbsp;</p>
    </div>
    <div id="inner_right">
		<%= render :partial => "layouts/quickrates" %>
    </div>
</div>
