<div id="pagewrapper" class="clearfix">
	<div id="inner_left">
    <h2>Truth In Savings Disclosure</h2>
    <p>The rates applicable to your accounts with the Credit Union are set forth below. The Credit Union reserves the right to change the terms and conditions of these accounts from time to time without notice to you unless provided by law.</p>
    <ul>
    	<li>Prime and Regular Share Savings</li>
        <li>Share Draft Accounts</li>
        <li>Money Market Accounts</li>
        <li>Christmas Savings Accounts</li>
        <li>Special Savings Accounts</li>
        <li>IRA Savings Accounts</li>
        <li>Share Certificates, including IRA Certificates</li>
        <li>Disclosures that apply to all accounts</li>
        <li>Fee Schedule</li>
        <li>Current Rates</li>
      </ul>
    <p><%= link_to "View Our Privacy Policy", "pdf/privacy_policy.pdf", :rel=>"external", :class=>"pdf" %></p>
    <p><%= link_to "Download Truth in Savings Disclosure(PDF)", "pdf/Member_Account_Agreement.pdf", :class=>"pdf" %></p>
<hr />
    
    <a name="prime"></a><p class="heading">PRIME AND REGULAR SHARE SAVINGS</p>
    <p class="bold">Rate Information</p>
    <ul>
    <li>Your dividend rate and annual percentage rate may change at any time, at our discretion. See <%= link_to "Current Rates", rates_path %>.</li>
    </ul>
    
    <p class="bold">Compounding and Crediting </p>
    <ul>
    <li>Dividends are credited and compounded to your account quarterly.</li>
    <li>If you close your account before the accrued dividends are credited, the dividend will be forfeited at the time of closing the account.</li>
    </ul>
    
    <p class="bold">Minimum Balance Requirements </p>
    <ul>
    	<li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain a daily balance of $5 in the account to earn dividends. </li>
    </ul>
    
   <p class="bold">Fees</p>
   <ul>
   		<li>A $1.00 Lifetime Membership fee is assessed at the time that your account is opened.</li>
        <li>Other fees may be charged on your account. See <%= link_to "Fee Schedule", cufees_path %>.</li>
   </ul>
   
   <p class="bold">Transaction Limitations</p>
   <ul>
   		<li>You may make 6 transfers from your account, but only 3 may be payments by check to third parties. There are no limitations governing checks withdrawn at the office, as well as no limitations governing ATM transactions.</li>
        <li>See <%= link_to "Fee Schedule", cufees_path %> for fees that may apply.</li>
	</ul>
    
    <hr />
    
    <p class="heading">SHARE DRAFT ACCOUNTS</p>
    <p class="bold">Minimum Balance Requirements </p>
    <ul>
    	<li>There is no minimum deposit to open this account.</li>
    </ul>
    
    <p class="bold">Fees</p>
    <ul>
    	<li>No per item transaction charge.</li>
        <li>No monthly maintenance fee. </li>
        <li>Other fees may be charged on your account. See <%= link_to "Fee Schedule", cufees_path %>.</li>
    </ul>
    
    <p class="bold">Transaction Limitations</p>
    <ul>
    	<li>You may write unlimited share drafts on this account.</li>
        <li>Your ATM transaction limitations are outlined in the <%= link_to "Fee Schedule", cufees_path %>.</li>
        <li>See <%= link_to "Fee Schedule", cufees_path %> for fees that may apply.</li>
    </ul>
    
    <hr />
    
    <p class="heading">MONEY MARKET ACCOUNT</p>
    <p class="bold">Rate Information</p>
    <ul>
    	<li>Your dividend rate and annual percentage rate may change at any time, at our discretion. See <%= link_to "Current Rates", rates_path %>.</li>
    </ul>
    
    <p class="bold">Compounding and Crediting</p>
    <ul>
    	<li>Dividends are computed daily and are credited and compounded to your account monthly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will be forfeited at time of closing the account.</li>
    </ul>
    
    <p class="bold">Minimum Balance Requirements</p>
    <ul>
    	<li>You must deposit a minimum of $2,500 to open this account.</li>
        <li>You must maintain a daily balance in the account based on the schedule disclosed in <%= link_to "Current Rates", rates_path %> to earn dividends.</li>
    </ul>
    
    <p class="bold">Fees</p>
    <ul>
    	<li>No monthly maintenance fee.</li>
        <li>If the transaction limitations listed on the <%= link_to "Fee Schedule", cufees_path %> are exceeded, then $5 per transaction will be charged.</li>
        <li>Other fees may be charged on your account. See <%= link_to "Fee Schedule", cufees_path %>.</li>
    </ul>
    
    <p class="bold">Transaction Limitations</p>
    <ul>
    	<li>You may clear a maximum of 3 share drafts per month on your account. You may make a maximum of 3 other withdrawals per month on your account.</li>
        <li>See <%= link_to "Fee Schedule", cufees_path %> for fees that may apply.</li>
    </ul>
    
    <hr />
    
    <p class="heading">CHRISTMAS SAVINGS</p>
    <p class="bold">Rate Information</p>
    <ul>
    	<li>Your dividend rate and annual percentage rate may change at any time, at our discretion.</li>
    </ul>
    
    <p class="bold">Compounding and Crediting</p>
    <ul>
    	<li>Dividends are credited and compounded to your account quarterly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will be forfeited at the time of closing the account.</li>
    </ul>
    
    <p class="bold">Minimum Balance Requirements</p>
    <ul>
    	<li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain a daily balance of $5 in the account to earn dividends.</li>
    </ul>
                                    
    <p class="bold">Fees</p>
    <ul>
    	<li>If the transaction limitations listed below are exceeded, then $5.00 per transaction will be charged.</li>
        <li>Other fees may be charged on your account. See <%= link_to "Fee Schedule", cufees_path %>. </li>
    </ul>

	<p class="bold">Transaction Limitations</p>
    <ul>
    	<li>Between January 1 and September 30, if a withdrawal is made from the account then: a $5 fee will be imposed; if the entire balance on the date of the request is taken; and a new account may not be opened until the following October 1.</li>
        <li>Between October 1 and December 31, you may withdraw an amount up to the balance of the account as of September 30.</li>
        <li>See <%= link_to "Fee Schedule", cufees_path %> for fees that may apply.</li>
    </ul>  
    
    <hr />
    <p class="heading">SPECIAL SAVINGS, including Vacation, Insurance, Escrow or Special Accounts</p>
    
    <p class="bold">Rate Information</p>
    <ul>
    	<li>Your dividend rate and annual percentage rate may change at any time, at our discretion. See <%= link_to "Current Rates", rates_path %>.</li>
    </ul> 
    
    <p class="bold">Compounding and Crediting</p>
    <ul>
    	<li>Dividends are credited and compounded to your account quarterly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will be forfeited at the time of closing the account.</li>
    </ul>
    
    <p class="bold">Minimum Balance Requirements</p>
    <ul>
    	<li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain a daily balance of $5 in the account to earn dividends.</li>
    </ul>
    
    <p class="bold">Fees</p>
    <ul>
    	<li>If the transaction limitations listed below are exceeded, then $5.00 per transaction will be charged.</li>
        <li>Other fees may be charged on your account. See <%= link_to "Fee Schedule", cufees_path %>. </li>
    </ul>
    
    <p class="bold">Transaction Limitations</p>
    <ul>
    	<li>You may make 6 transfers from your account, but only 3 may be payments by check to third parties. There are no limitations governing checks withdrawn at the office.</li>
        <li>See <%= link_to "Fee Schedule", cufees_path %> for fees that may apply.</li>
    </ul>    
    
    <hr />
    
    <p class="heading">IRA SAVINGS ACCOUNT</p>
 <p class="bold">Rate Information</p>
    <ul>
    	<li>Your dividend rate and annual percentage rate may change at any time, at our discretion. See <%= link_to "Current Rates", rates_path %>.</li>
    </ul> 
    
    <p class="bold">Compounding and Crediting</p>
    <ul>
    	<li>Dividends are credited and compounded to your account quarterly.</li>
        <li>If you close your account before the accrued dividends are credited, the dividend will be forfeited at the time of closing the account.</li>
    </ul>
    
    <p class="bold">Minimum Balance Requirements</p>
    <ul>
    	<li>You must deposit a minimum of $5 to open this account.</li>
        <li>You must maintain a daily balance of $5 in the account to earn dividends.</li>
    </ul>
    
    <p class="bold">Fees</p>
    <ul>
    	<li>Other fees may be charged on your account. </li>
        <li>See <%= link_to "Fee Schedule", cufees_path %> for fees that may apply. </li>
    </ul>
    
    <p class="bold">Transaction Limitations</p>
    <ul>
    	<li>The transaction limitations on IRA accounts are governed by separate regulation and will be supplied to you upon specific request for IRA information.</li>
    </ul>    

	<hr />
    
        <p class="heading">SHARE CERTIFICATES</p>
        <p>Regular or IRA share certificates shall be issued as follows: </p>
 <p class="bold">Rate Information</p>
    <ul>
    	<li>Share Certificates shall be for maturities of 6 months or longer as disclosed in the <%= link_to "Current Rate", rates_path %> schedule and will earn the rates for the maturity terms listed.</li>
        <li>IRA Certificates shall be for maturities of 6 months or longer as disclosed in the <%= link_to "Current Rate", rates_path %> schedule and will earn the rate for the maturity listed.</li>
    </ul> 
    
    <p class="bold">Compounding and Crediting</p>
    <ul>
    	<li>Dividends are compounded monthly or quarterly and credited to your account either monthly, quarterly or at maturity according to the following: if the dividend is quarterly, for example, and the account is opened January 1, the beginning date for the first dividend period is January 1, and the ending date of such dividend period is March 31.</li>
        <li>All other dividend periods followed the same pattern of dates until maturity when the final dividend would be credited.</li>
    </ul>
    
    <p class="bold">Minimum Balance Requirements</p>
    <p>For Share Certificates:</p>
    <ul>
    	<li>You must deposit a minimum of $500 to open this account. </li>
        <li>You must maintain the above stated minimum daily balance to maintain the account.</li>
    </ul>
    
    <p>For IRA Certificates:</p>
    <ul>
    	<li>You must deposit a minimum of $500 to open an IRA Share Certificate.</li>
        <li>You must maintain the above stated minimum daily balance to maintain the account.</li>
    </ul>    
    
    <p class="bold">Fees</p>
    <ul>
    	<li>Fees may be charged on your account. </li>
        <li>See <%= link_to "Fee Schedule", cufees_path %> for fees that may apply. </li>
    </ul>
    
    <p class="bold">Transaction Limitations</p>
    <ul>
    	<li>After the account is opened, you may not make deposits into the account until the maturity date stated on the disclosure for the share certificate.</li>
    </ul>
    
    <p class="bold">Early Withdrawal Penalties </p>
    
    <p>For Share Certificates:</p>
    <ul>
    	<li>We may impose a penalty if you withdraw any funds other than dividends before the maturity date. </li>
        <li>If the withdrawal will lower the balance of the share certificate lower than the minimum stated on the share certificate, then the share certificate will be canceled.</li>
        <li>If the withdrawal does not lower the balance below the minimum stated on the share certificate, then the certificate may remain in effect for the remaining balance. </li>
        <li>A penalty will be imposed by the forfeiture of the smaller of: dividends accrued since issuance or renewal; or 90 days dividends for terms of 1 year or less; or 180 days dividends for terms greater than 1 year. In certain cases specified in federal regulations, penalties shall not apply.</li>
    </ul>
    
    <p>For IRA Certificates:</p>
    <ul>
    	<li>We may impose a penalty if you withdraw any funds other than dividends before the maturity date, unless the withdrawal is allowable under federal regulation. </li>
        <li>If the withdrawal will lower the balance of the share certificate lower than the minimum stated on the share certificate, then the share certificate will be canceled.</li>
        <li>If the withdrawal does not lower the balance of the share certificate lower than the minimum stated on the share certificate, then the share certificate will remain in effect for the remaining balance. </li>
        <li>Further penalty will be imposed by the forfeiture of the smaller of: dividends accrued since issuance or renewal; or 90 days dividends for terms of 1 year or less; or 180 days dividends for terms greater than 1 year. In certain cases specified in federal regulations, penalties shall not apply. </li>
    </ul>  
    
    <p class="bold">Renewal Policies</p>
    <ul>
    	<li>Your share certificate will automatically renew at maturity. There is a 10 day grace period.</li>
    </ul>  
    
    <hr />
    
    <p class="heading">THE FOLLOWING DISCLOSURES APPLY TO ALL OF THE ACCOUNTS: </p>
    <p class="bold">Nature of Dividends </p>
    <ul>
    	<li>Dividends are paid from current income and available earnings after required transfers to reserves at the end of the dividend period.</li>
        <li>The Dividend Rate and Annual Percentage Yield are the prospective rates and yields that the Credit Union anticipates paying for the applicable dividend period.</li>
    </ul>
    
    <p class="bold">Compounding and Crediting </p>
    <ul>
    	<li>The Dividend Period begins on the first calendar day of the period and ends on the last calendar day of the period.</li>
    </ul>
    
    <p class="bold">Balance Computation Method</p>
    <ul>
    	<li>We use the daily balance method to calculate dividends on your account. This method applies a periodic rate to the daily balance in the account for the period. </li>
    </ul>
    
    <p class="bold">Accrual of Dividends</p>
    <ul>
    	<li>Dividends will begin to accrue on the business day you deposit non-cash items (i.e., checks) to your account.</li>
    </ul>
    
    <p class="bold">Transaction Limitations</p>
    <ul>
    	<li>Transaction Limitations: All accounts, except Share Draft and Money Market Accounts, are not transferable or negotiable.</li>
    </ul>
    
    <p class="bold">Fees</p>
    <ul>
    	<li>If any limitation is exceeded, we retain the right to revoke such transfer privileges, to not honor those transactions over the limit, or to close the account. Exceeding transaction limitations may cause the imposition of service fees. See <%= link_to "Fee Schedule", cufees_path %>.</li>
    </ul>
    
    </div>
    <div id="inner_right">
		<%= render :partial => 'layouts/quickrates' %>
    </div>
</div>
